* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'IBM Plex Sans','Source Sans Pro', Helvetica, sans-serif;
    font-size: 25px;
    height: 100svh;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    gap: 15px;
    background-color: #3A3333;
}
.menu{
    grid-row: 1 / 5;
    color: white;
    background-color: #BDBDBD;
    display: flex;
    flex-direction: column;
}
.week_statistic{
    background-color: #BDBDBD;
    grid-column: 2 / 4;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 20px;
    margin: 15px 15px 0 0;
    height: 400px;
    overflow: hidden;
    position: relative;
}
.steps_week_graf{
    display: grid;
    justify-content: center;
    align-items: end;
    grid-template-columns: repeat(7, 60px);
    grid-template-rows: 1fr 10px;
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    text-align: center;
    height: 1fr;
}
.steps_week_graf > div{
    background-color: #6A94A7;
    border-radius: 10px;
    width: 60px;
}
.left_week_content{
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin-left: 15px;
    align-items: center;
}
.circle{
    background-color: black;
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.week{
    position: absolute;
    top: -25px;
}

.today_statistic{
    overflow: hidden;
    position: relative;
    background-color: #BDBDBD;
    grid-column: 2 / 3;
    grid-row: 2 / 5;
    border-radius: 20px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.today{
    position: absolute;
    bottom: 242px;
    left: 0;
}
.steps_all{
    background-color: #BDBDBD;
    margin-right: 15px;
    border-radius: 20px;
    grid-column: 3 / 4;
    height: 100px;
}
.air_all{
    background-color: #BDBDBD;
    margin-right: 15px;
    border-radius: 20px;
    grid-column: 3 / 4;
    height: 100px;
}
.counter_all{
    background-color: #BDBDBD;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 20px;
    grid-column: 3 / 4;
    height: 100px;
}
.all_block > div{
    display: flex;
    justify-content: center;
    align-items: center;
}